@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
    box-sizing: border-box;
    background-color: #232136;
    color: #fffaf3;
    font-family: 'Fialla One', sans-serif;
    height: 90vh;
}

#mainContainer {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    height: 90vh;
    width: 90vh;
    gap: 0;
}

.gridDiv {
    box-sizing: border-box;
    border: 2px solid #393552;
    flex-grow: 1;
}

.controls, .toggles {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    align-items: center;
    flex-wrap: wrap;
}


.controls button {
    padding: 1vh;
    margin: 1vh;
    background-color: #c6d0f5;
    border: 1px solid #737994;
    border-radius: 7%;

}

.colors {
    display: flex;
    align-items: center;
    border: 2px solid #737994;
    padding: .7vh;
}

.controls .color {
    margin-left: 1vh;
    margin-right: 1vh;
    background-color: #c6d0f5;
    border: 1px solid #c6d0f5;

}

.sizeCont {
    margin: 1vh;
    display: flex;
    align-items: center;
    border: 2px solid #737994;
    padding: 1vh;

}

.controls label {
    display: inline-block;
    vertical-align: center;
}

 /* Container for the toggle */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default checkbox */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The track */
.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
}

/* The circular slider */
.slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

/* Toggled state */
.toggle-switch input:checked+.slider {
    background-color: #4caf50;
}

.toggle-switch input:checked+.slider::before {
    transform: translateX(26px);
}

.switchLabel {
    margin-left: 1rem;
}
