@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
    box-sizing: border-box;
    background-color: #232136;
    color: #fffaf3;
    font-family: 'Fialla One', sans-serif;
}

#mainContainer {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    height: 90vh;
    width: 90vh;
    gap: 0;
}

.gridDiv {
    box-sizing: border-box;
    border: 2px solid #393552;
    flex-grow: 1;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    align-items: center;
}

.controls button {
    padding: 1vh;
    margin: 1vh;
    background-color: #c6d0f5;
    border: 1px solid #737994;
    border-radius: 7%;

}

.colors {
    display: flex;
    align-items: center;
    border: 2px solid #737994;
    padding: .7vh;
}

.controls .color {
    margin-left: 1vh;
    margin-right: 1vh;
    background-color: #c6d0f5;
    border: 1px solid #c6d0f5;
}

.sizeCont {
    margin: 1vh;
    display: flex;
    align-items: center;
    border: 2px solid #737994;
    padding: 1vh;
}

.controls label {
    display: inline-block;
    vertical-align: center;
}